body{

margin:0;
font-family:Arial;
background:#0b0f19;
color:white;

}

header{

background:#111827;
text-align:center;
padding:20px;

}

nav{

background:#020617;
display:flex;
justify-content:center;

}

nav a{

padding:15px;
color:white;
text-decoration:none;

}

nav a:hover{

background:#1f2937;

}

.hero{

text-align:center;
padding:40px;

}

.market{

padding:40px;

}

.market-card{

background:#111827;
padding:20px;
margin:10px;
border-radius:10px;
display:inline-block;

}

.price{

color:#00ff9d;
font-size:22px;

}

.signal{

background:#111827;
padding:20px;
margin:10px;
border-radius:10px;

}

footer{

background:#020617;
padding:20px;
text-align:center;

}
